{% extends 'base.html' %}
{% load static %} 

{% block css_files %}
    <link rel="stylesheet" href="{% static 'events/css/event_list.css' %}" />
{% endblock %} 

{% block content %}
    <a href="{% url 'event_list' %}">All events</a>

    
    <h1>{{event.name}}</h1>
    {% if event.photo %}
        <img src={{event.photo.url}} alt="{{event.name}}" width="500">
    {% endif %}

    <p>Location: {{event.location}}</p>
    <p>Date: {{event.date}}</p>
    <p>Registered count: {{event.registered}}</p>
    <p>Organizer: <a href="{% url 'organizer_detail' event.organizer.id %}"> {{event.organizer.name}} </a></p>
    <p>Detail: {{event.detail|linebreaks}} </p>

{% endblock %}