{% extends 'base.html' %} 
{% load static %} 

{% block css_files %}
<link rel="stylesheet" href="{% static 'events/css/event_list.css' %}" />
{% endblock %} 

{% block content %}
    <h1>All events</h1>
    <p>There are {{count}} events in the database.</p>
    <div class="event__items">
        {% for event in events %}
        <a href="{% url 'event_detail' event.id %}">
            <div class="event__item">
                {% for tag in event.tags.all %}
                    <span style="color: white; background-color: red; padding: 5px 10px" >{{tag.name}}</span>
                {% endfor %}
                <h3 class="event__item--name">{{event.name}}</h3>
                <p class="event__item--location">Location :{{event.location}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
